
.holder{
	width: 700px;
	height: auto;
	margin: 0 auto;
	background-color: #adf7b5;
	font-size: 25px;
	border: 2px solid #6e9d85;
	border-radius: 20px;
	padding: 15px;
}

.holder li{
	width: 90%;
	background-color: #3ec15a;
	color: #FFF;
	list-style-type: none;
	margin: 1% auto;
	border-radius: 5px;

}