
body {
	background: url('../img/bg.png');
}
.socialBlock {
    float: right;
    margin-top: 10px;
}
.socialBlock li {
	float: right;
	margin: 3px;
}
.mainContainer {
	margin-top: 100px;
}
.mainImages {
	width: 150px;
    margin: 10px;
}
.oopjqueryblocks {
	text-align: center;
}
.mainImagesOOP {
    width: 300px;
    margin: 20px 0;
}
.startButton {
	text-align: center;
    margin-top: 100px;
}
#backButton {
	margin-top: 15px;
}
#gamePage {
    background: url("../img/world/road1.png");
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    width: 1200px;
    background-size: 960px;
    background-repeat: no-repeat;
    background-position: center top 45px;
}
.progressStipes {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    z-index: 10;
}
#cssBuilding {
	background: url("../img/world/css.png");
    float:right;
    width: 250px;
    height: 250px;
    background-size: 250px;
    background-repeat: no-repeat;
    z-index: 1;
}
#htmlBuilding {
	background: url("../img/world/html.png");
    float:left;
    width: 250px;
    height: 250px;
    background-size: 250px;
    background-repeat: no-repeat;
    z-index: 1;
}
#javascriptBuilding {
	background: url("../img/world/js.png");
    margin:auto !important;
	width: 250px;
    height: 355px;
    background-size: 210px;
    background-repeat: no-repeat;
    margin-top: 150px !important;
    z-index: 2;

}
#oopBuilding {

	background: url("../img/world/oop.png");
    float:left;
	width: 250px;
    height: 250px;
    background-size: 210px;
    background-repeat: no-repeat;
    z-index: 3;
    
}
#jqueryBuilding {
	background: url("../img/world/jquery.png");
    float:right;
	width: 250px;
    height: 250px;
    background-size: 250px;
    background-repeat: no-repeat;
    z-index: 3;
}
#mainGuy {
    position:absolute;
    width:50px;
    height:80px;
    background:url('../img/people/walker.png');
    background-position: center !important;
}